.movie-card {
    padding: 20px;
}

.card {
    margin: 10px;
    background-color: rgba(106, 34, 128, 0.801);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.card-body p {
    font-size: 13px;
    margin: 10px 0px 0px 20px;
}

.movie-title {
    text-align: center;
    color: #fff;
}

.movies-container {
    margin: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}